<%- include("../../global/header") %>
<% if (isMember) { %>
    <%- include("../member-navbar") %>
<% } %>

</div>
<div class="row">
    <div class="col-11 offset-1">
        <h1><%= title %></h1>
    </div>
</div>
<% if (isMember) { %>
<div class="row">
    <div class="col-6 offset-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/members/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Logbook</li>
            </ol>
          </nav>
    </div>

    <div class="col-3 text-end">
        <a href="/members/skydives/add" type="button" class="btn btn-sm btn-success">Add &plus;</a>
    </div>

    <div class="col-1 text-end">
        <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Import
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ExcelModal"><i class="fa-regular fa-file-excel"></i> Excel</a></li>
              <li><a class="dropdown-item" href="#">CSV <small><span class="badge text-bg-primary">Coming soon</span></a></li>
            </ul>
          </div>
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="col-11 offset-1">
        <h2><%= subTitle %></h2>
    </div>
</div>
<% } %>

<div class="row">
    <div class="col-xs-10 offset-xs-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Discipline</th>
                <th>DZ</th>
                <th>Date</th>
                
            </thead>
            <tbody>
                <% for (let skydive of skydives) { %> 
                    <tr>
                        <td><a href="#"><%= skydive.number %></a></td>
                        <td><%= skydive.stats.discipline %></td>
                        <td><%= skydive.location.dropzone %></td>
                        <td><%= skydive.getFormattedDate() %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<% if (!isMember) { %> 
<div class="row">
    <div class="col-12 text-center">
        <p><small><%= subTitle %> has shared this logbook using <a href="/">Skyreach</a>.</small></p>
        <p><small>Dont' have an account? <a href="/signup">Sign up</a> for a free trial and explore your logbook in the cloud.</small></p>
        <p><small>Blue skies!</small></p>

    </div>
</div>
<% } %>
</div>
</div>

<% if (isMember) { %> 
<%- include ("components/importExcelModal") %>
<%- include("../../global/footer") %>
<% } %>