<%- include("../../global/header") %>
<%- include("../member-navbar") %>

</div>
<div class="row">
    <div class="col-11 offset-1">
        <h1>Log book</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 offset-xs-1 col-sm-6 offset-sm-1 offset-sm-1 col-md-8 offset-md-1 col-lg-9 offset-lg-1 col-xl-9 offset-xl-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/members/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Log book</li>
            </ol>
          </nav>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-1 col-xl-1 text-end">
        <a href="/members/skydives/add" type="button" class="btn btn-sm btn-success">Add &plus;</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 offset-xs-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Discipline</th>
                <th>DZ</th>
                <th>Date</th>
                
            </thead>
            <tbody>
                <% for (let skydive of skydives) { %> 
                    <tr>
                        <td><a href="#"><%= skydive.number %></a></td>
                        <td><%= skydive.stats.discipline %></td>
                        <td><%= skydive.location.dropzone %></td>
                        <td><%= skydive.getFormattedDate() %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>


<%- include("../../global/footer") %>